<!DOCTYPE html>
<html>
<head>
    <title>QAP3 Database Fullstack</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <h1>QAP3 Database Fullstack</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
        </nav>
    </header>